.card-container {
  width: 15vw;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    cursor: pointer;
}
.card-img {
  width: 15vw;
  height: 36vh;
  border-radius: 12px;
}
.shoes-title {
  font-family: Raleway;
  font-weight: 600;
  text-align: center;
  margin: 2% 0;
}
