footer {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin-top: 9%;
  padding-inline: 1%;
  gap: 2vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.tagline {
  font-family: Raleway;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 2%;
}
.copyright {
  margin-top: 2vh;
  text-align: center;
  font-weight: 500;
  font-family: Raleway;
}
span {
  font-weight: bolder;
}
