.shoes-container {
  padding: 1%;
}
h1 {
  margin: 1%;
  font-family: Raleway;
}
.sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 1px;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
