.about-container {
  width: 100%;
  height: 90vh;
  padding: 1%;
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12%;
}
.des-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  text-align: center;
  width: 60vw;
  font-size: 1.5rem;
}
h4 {
  text-align: center;
}
.about-logo {
  width: 50px;
}
.about-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 3rem;
}
.about-title {
  font-size: 2rem;
  font-weight: bolder;
}
h5 {
  margin-top: 5vh;
  text-align: center;
}

/*Mobile screen*/

@media (min-width: 320px) and (max-width: 480px) {
  .about-container {
    gap: 8%;
  }

  .about-logo {
    width: 40px;
  }
  .about-title-container {
    gap: 10px;
  }
  .about-title {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  h5 {
    text-align: center;
  }
  .description {
    text-align: center;
    width: 80vw;
    font-size: 1rem;
  }
}

/*Tablet screen*/
@media (min-width: 481px) and (max-width: 1024px) {
  .about-container {
    gap: 10%;
  }
  .about-logo {
    width: 45px;
  }
  .about-title-container {
    gap: 10px;
  }
  .about-title {
    font-size: 1.5rem;
  }
  h5 {
    text-align: center;
  }
  .description {
    text-align: center;
    width: 400px;
    font-size: 1.2rem;
  }
}
